# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
tmp*
docs/
dp-terraform/
config/
secrets/
stackrox/
.pre-commit-config.yaml
templates/
.artifacts/
.DS_Store
