apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    application: fleet-manager
  name: fleet-manager
  namespace: "$ACSMS_NAMESPACE"
spec:
  replicas: 1
  selector:
    matchLabels:
      application: fleet-manager
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        application: fleet-manager
    spec:
      initContainers:
        - name: db-migrate
          image: "$FLEET_MANAGER_IMAGE"
          imagePullPolicy: IfNotPresent
          command:
            - sh
            - "-c"
            - "cd /; /usr/local/bin/fleet-manager migrate || { sleep 120; false; }"
          volumeMounts:
            - mountPath: /secrets
              name: secrets
            - mountPath: /config
              name: config
      containers:
        - command:
          - "sh"
          - "-c"
          - "$FLEET_MANAGER_CONTAINER_COMMAND"
          image: "$FLEET_MANAGER_IMAGE"
          imagePullPolicy: IfNotPresent
          name: fleet-manager
          ports:
            - containerPort: 8000
            - containerPort: 8083
          env:
          - name: CENTRAL_CPU_REQUEST
            value: 200m
          - name: CENTRAL_MEMORY_REQUEST
            value: 300M
          - name: CENTRAL_CPU_LIMIT
            value: 200m
          - name: CENTRAL_MEMORY_LIMIT
            value: 300M
          - name: SCANNER_ANALYZER_CPU_REQUEST
            value: 200m
          - name: SCANNER_ANALYZER_MEMORY_REQUEST
            value: 300M
          - name: SCANNER_ANALYZER_CPU_LIMIT
            value: 200m
          - name: SCANNER_ANALYZER_MEMORY_LIMIT
            value: 300M
          - name: SCANNER_ANALYZER_AUTOSCALING
            value: Disabled
          - name: SCANNER_ANALYZER_REPLICAS
            value: "1"
          - name: SCANNER_DB_CPU_REQUEST
            value: 200m
          - name: SCANNER_DB_MEMORY_REQUEST
            value: 200M
          - name: SCANNER_DB_CPU_LIMIT
            value: 200m
          - name: SCANNER_DB_MEMORY_LIMIT
            value: 200M
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8083
            periodSeconds: 5
          resources: $FLEET_MANAGER_RESOURCES
          volumeMounts:
            - mountPath: /secrets
              name: secrets
            - mountPath: /config
              name: config
      restartPolicy: Always
      volumes:
        - name: secrets
          secret:
            secretName: fleet-manager # pragma: allowlist secret
            optional: false
        - name: config
          configMap:
            name: config
